svg.cell.n1 .p1 {
    transform: translateY(-100%);
}

svg.cell.n1 .p2 {
    transform: translateX(100%);
}

svg.cell.n1.open .p1 {
    transform: translateY(0%);
}

svg.cell.n1.open .p2 {
    transform: translateX(0%);
}